<h1>Convert <%=@base_currency%></h1>

<div>Go <a href="/">back.</a></div>

<ul>

  <% @currencies.each do |a_currency| %>
  <li> <a href="/<%=@base_currency%>/<%=a_currency%>">
  Convert 1 <%=@base_currency%> to <%=a_currency%>...
  </a> </li>

  <% end %>
</ul>
